@charset "UTF-8";


.container{
	display: flex;
}

.login{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -150px;
}

.login-item{
	width: 300px;
	padding-bottom: 50px;

}



button {
	background:none!important;
	border:none;
	padding:0!important;
	font-size: 16px;
	/*optional*/
	font-family:Times; /*input has OS specific font-family*/
	color:#069;
	text-decoration:underline;
	cursor:pointer;
}

.container-inner{
	display: flex;
	flex-direction: column;
}

 #table {
	 border-collapse: collapse;
	 padding-left: 5em;
	 /*border-style: double;*/
	 /*border: 1px;*/

}

#stuff{
	
}

#description{
	width: 300px;
	
}

#title{
	font-family: "Courier New", Courier, monospace;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

div#stuff{
	padding: 1em;
}



